.footer,
.push {
    height: 75px;
    width: 100%;
    background-color: #111D4A;
    bottom: 0;
}

footer {
    color: white;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 0;
    align-items: center;
}

.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}