<form class="example-form">
    <h2 mat-dialog-title>Create Stage</h2>
    <mat-form-field class="example-full-width">
        <mat-label>Stage Title</mat-label>
        <input matInput #stageTitle placeholder="ABC Engineer">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Zusammenfassung</mat-label>
        <textarea matInput #stageSummary placeholder="Als “ABC Engineer” bist du Teil..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Stage Company Image</mat-label>
        <textarea matInput #stageCompanyImage placeholder="assets/images/example-img"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Stage Image</mat-label>
        <textarea matInput #stageImage placeholder="assets/images/example-img"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Stage Location</mat-label>
        <textarea matInput #stageLocation placeholder="Musterstrasse X, 8005 Zürich"></textarea>
    </mat-form-field>
    <mat-dialog-actions alinge="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-save>Save</button>
    </mat-dialog-actions>
</form>