.flex-container-top {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 25px;
}

.flex-container-bottom {
    flex-direction: column;
    height: 100px;
    text-align: center;
}

.flex-field-left {
    color: #ffffff;
    text-align: center;
    padding: 80px;
}

.flex-container-top>.flex-field-left {
    background: #111D4A;
    border-radius: 0px 0px 60px 0px;
    width: 50%;
    margin-right: 30px;
}

.flex-field-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container-top>.flex-field-right {
    background: #ffffff;
    width: 50%;
}

.welcome-img {
    margin-top: 100px;
}

.browseViewBtn {
    background-color: #FF6700;
    margin-right: 10px;
    color: #ffffff;
    font-size: large;
}

.coachingViewBtn {
    background-color: #0A7085;
    color: white;
    font-size: large;
}

.flex-field-benefits {
    color: #111D4A;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 50px;
}

.flex-field-info {
    color: #111D4A;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 60px;
}

.flex-field-partners {
    margin-top: 80px;
}

h2 {
    color: #ffffff;
}