mat-grid-list {
    margin-bottom: 100px;
}

.grid-field-left {
    background: #111D4A;
    border-radius: 0px 0px 60px 0px;
    color: #ffffff;
}

.welcome-img {
    margin-top: 100px;
}

.welcome-text {
    position: absolute;
    margin-top: 10px;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}

.browseViewBtn {
    background-color: #FF6700;
    margin-right: 10px;
    color: #ffffff;
    font-size: large;
}

.coachingViewBtn {
    background-color: #0A7085;
    color: white;
    font-size: large;
}

h2 {
    color: #ffffff;
}