.flex-container-top {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 25px;
    height: 50vh;
}

.flex-container-bottom {
    flex-direction: column;
    height: 100px;
    margin-right: 5%;
    margin-left: 5%;
}

.flex-field-left {
    margin-top: -1px;
    color: #ffffff !important;
}

.flex-container-top>.flex-field-left {
    background: #111D4A;
    border-radius: 0px 0px 60px 0px;
    width: 50%;
    margin-right: 30px;
}

.flex-field-right {
    margin-right: 5px;
}

.flex-container-top>.flex-field-right {
    background: #ffffff;
    width: 50%;
}

.welcome-text {
    margin-right: 20%;
    margin-left: 15%;
    margin-top: 20%;
    margin-bottom: 5%;
}

.welcome-img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    max-height: 100%;
}

.browseViewBtn {
    background-color: #FF6700;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: large;
}

.coachingViewBtn {
    background-color: #0A7085;
    color: white;
    font-size: large;
}

.flex-field-benefits {
    color: #111D4A;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 80px;
    text-align: justify;
    margin-bottom: 50px;
}

.flex-field-info {
    color: #111D4A;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 52px;
    text-align: justify;
    margin-bottom: 50px;
}

.plus-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.info-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.partner-img-desktop{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.partner-img-mobile {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.flex-field-partners {
    margin-top: 100px;
    text-align: center;
}

.flex-field-partners img {
    flex-direction: vertical;
    object-fit: cover;
}

.flex-field-partners area {
    cursor: default;
    outline: none;
} 

.flex-field-partners a {
    cursor: default;
}

h2 {
    color: #ffffff;
}

hr {
    width: 32vw;
}

h3 {
    text-align: center;
    margin-top: 0%;
}
/*________________________________________________*/

@media screen and (max-width: 1000px) {
    .flex-container-top {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin: 0px;
        margin-bottom: 25px;
        height: auto;
        z-index: 0;
    }

    .flex-field-left {
        margin-top: -1px;
        color: #ffffff !important;
    }
    
    .flex-container-top>.flex-field-left {
        background: #111D4A;
        border-radius: 0px 0px 60px 60px;
        width: 100%;
    }
    
    .flex-field-right {
        margin-right: 5px;
    }
    
    .flex-container-top>.flex-field-right {
        background: #ffffff;
        width: 100%;
    }
    
    .welcome-text {
        margin-right: 15%;
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .welcome-img {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
        width: auto;
    }

    .flex-field-benefits {
        color: #111D4A;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 50px;
    }
    .flex-field-info {
        color: #111D4A;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 50px;
    }
    .flex-field-partners {
        margin-top: 100px;
        text-align: center;
    }

    .flex-field-partners img {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .flex-field-partners img {
        width: 60%;
    }

    .info-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .partner-img-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .partner-img-desktop{
        display: none;
    }
}