<h2 class="mat-dialog-title">ABC Engineer</h2>
<p class="mat-dialog-subtitle">StageWay Application Team</p>
<mat-dialog-content class="mat-typography">
    <div class="flex-container">
        <div class="left-box">
            <p>"Wir helfen da weiter, wo Ihr IT-Service endet", heisst das Motto des kompetenten Teams, das im IT Support die technische und fachliche Unterstützung der ratsuchenden Kunden übernimmt. Mit unserer Dienstleistungs-Philosophie erzielen wir höchste
                Zufriedenheit bei den Kunden und den nachgelagerten Supporteinheiten. </p>

            <h3>Tätigkeiten</h3>
            <p>Der User Service Desk stellt den Betrieb des redfox Arbeitsplatzes für die gesamte Zürcher Kantonalbank und deren Tochtergesellschaften sicher. Zudem ist er die Schnittstelle für sämtliche Anwender mit IT-Incidents. Nach einer Grundausbildung
                kannst du dein Team unterstützen, den gesamten Incident-Prozess sicherzustellen. Die Bearbeitung der vielfältigen Kundenanfragen wird ergänzt mit Schulungen von Mitarbeitenden und Kunden, und machen dein Aufgabengebiet abwechslungsreich
                und spannend. </p>

            <h3>Profil</h3>
            <p>Abgeschlossene Kaufmännische / Informatik Ausbildung EFZ - Freude an komplexen und technischen Aufgaben - Vernetzers Denken - Offenheit & Teamfähigkeit - Mut & Engagement
            </p>

            <h3>Das können wir bieten</h3>
            <p>Friendly Workspace - Personalkonditionen auf Bankgeschäfte - günstige & gesund Verpflegung in unseren Personalrestaurants - ZVV-Bonuspass
            </p>
        </div>
        <div class="right-box">
            <h3>Allgemeines</h3>
            <p class="company-lable">Zürcher Kantonalbank</p>
            <p class="location-lable">Neue Hard 9, 8005 Zürich</p>
            <p class="stage-startDate-lable">Start ab: 04.01.21</p>
            <h3>Fragen?</h3>
            <p class="contact-name-lable">Maria Muster</p>
            <p class="contact-tel-lable">+41 79 333 33 33</p>
            <p class="contact-mail-lable">bewerbungs.frage@firma.com</p>
            <h3>Coaching</h3>
            <p class="coching-describtion-lable">Entdecke das <a [routerLink]="['/app-coaching-view']">Coaching Angebot</a> der Stadt Zürich.
            </p>
            <mat-divider></mat-divider>
            <button mat-flat-button class="applyBtn" (click)="show=!show">Bewerben</button>

            <div *ngIf="show">

                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button #trueAdmit name="yes" (change)="0" value="1">Ja, ich bin in Kontakt mit dem Coaching</mat-radio-button>
                    <mat-radio-button #falseAdmit name="no" (change)="0" value="2">Nein, ich habe noch keinen Kontakt aufgenommen</mat-radio-button>
                </mat-radio-group>

                <div *ngIf="trueAdmit.checked" class="option-display-lable">
                    <h3>Sende die Bewerbung an:</h3>
                    <a>nachwuchs@zkb.ch</a>
                </div>
                <div *ngIf="falseAdmit.checked" class="option-display-lable">
                    <p>Setze dich vor deiner Bewerbung mit dem Coaching der Stadt Zürich in Kontakt. Danach kannst du dich direkt bewerben.</p>
                    <a>coaching@jobplus.ch</a>
                    <p>044 123 54 64</p>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions alinge="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>