.stage-container {
    margin-left: 50px;
    margin-right: 50px;
    color: #111D4A;
}

.example-card {
    max-width: 400px;
    background-color: #CEE5F2;
    color: #111D4A;
    margin-right: 50px;
    margin-bottom: 50px;
}

.example-card:hover {
    opacity: 0.5;
    cursor: pointer;
}

.example-header-image {
    /* background-image: url('{{stage.stageCompanyImage}}'); */
    background-size: cover;
}

.location-lable {
    color: #0A7085;
    font-style: italic;
}

.button-create-stage {
    margin-top: 20px;
}