#filter-container {
    text-align: left;
    margin: 30px 0px -20px 70px;
    display: flex;
    flex-direction: row;
}

#search-stages {
    border: none;
    outline: none;
    font-size: large;
    width: 180px;
}

#date-stages {
    width: 140px;
    outline: none;
    border: none;
    font-size: large;
}

#stage-container {
    margin-left: 50px;
    margin-right: 50px;
    color: #111D4A;
    margin-top: 50px;
    display: grid;
}

.example-card {
    background-color: #F3F5F7;
    color: #111D4A;
    margin-right: 30px;
    margin-bottom: 50px;
    box-shadow: -3px 6px 6px 0px rgba(176, 164, 176, 1);
    transition: all .3s ease-in-out;
    overflow-y: hidden;
}

.example-card:hover {
    box-shadow: -3px 18px 20px 0px rgb(17, 29, 74);
}

.example-header-image {
    background-image: url('/assets/images/Swisscom_logo.png');
    background-size: cover;
}

.location-lable {
    color: #0A7085;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 2px;
}

.stage-startDate-lable {
    color: #0A7085;
    font-style: italic;
    font-size: 14px;
    margin-top: 0px;
}

mat-card-title {
    font-family: 'Share';
    font-weight: bold;
}

.stage-admin-btn {
    float: right;
}

mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

mat-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    margin-left: 16px;
}

mat-card-header {
    flex-shrink: 0;
}

mat-card-content {
    flex-grow: 1;
    overflow: auto;
}