<div class="stage-container">
    <div fxLayout="row wrap">
        <mat-card fxFlex="25" fxFlex.xs="50" *ngFor="let stageItem of StageList" class="example-card">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <!-- <div mat-card-avatar src="{{stageItem.stageCompanyImage}}" class="example-header-image"></div> -->
                <mat-card-title>{{stageItem.stageTitle}}</mat-card-title>
                <mat-card-subtitle>{{stageItem.stageSubtitle}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="{{stageItem.stageImage}}" alt="Photo of Stage"> -->
            <img mat-card-image src="/assets/images/welcome_image.PNG" alt="Photo of Stage">
            <mat-card-content>
                <p>
                    {{stageItem.stageSummary}}
                </p>
                <p class="location-lable">
                    Standort: {{stageItem.stageLocation}}
                </p>
                <p class="stage-startDate-lable">
                    Start Datum: {{stageItem.stageDate}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openStageDetailDialog(stageItem)">Erfahre mehr ></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>