<mat-toolbar fxLayout="row">
    <span id="logo" fxFlex [routerLink]="['/app-welcome-view']">
    <img class="logo-img" src="/assets/images/Logo-StageWay-Weiss-Bold-kurz.png" alt="Logo Image" width="260" height="88">
    </span>
    <span class="menu-item-buttons">
    <button id="navItem" mat-button fxHide.xs [routerLink]="['/app-dashboard-view']">
        Stages
    </button>
    <button id="navItem" mat-button fxHide.xs [routerLink]="['/app-guide-view']">
        So funktioniert's
    </button>
    <button id="navItem" mat-button fxHide.xs [routerLink]="['/app-coaching-view']">
        Coaching 
    </button>
    <button id="navItem" mat-icon-button fxHide.xs>
        <mat-icon class="icon">account_circle</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <ng-container>
            <button mat-button fxHide.xs [routerLink]="['/app-dashboard-view']">
                <mat-icon class="icon">home</mat-icon>
                Dashboard
            </button>
            <mat-divider></mat-divider>
            <button mat-button fxHide.xs [routerLink]="['']">
                <mat-icon class="icon">face</mat-icon>
                Profile
            </button>
            <mat-divider></mat-divider>
            <button mat-button fxHide.xs [routerLink]="['']">
                <mat-icon class="icon">live_help</mat-icon>
                Guide
            </button>
            <mat-divider></mat-divider>
            <button mat-button fxHide.xs [routerLink]="['/app-welcome-view']">
                <mat-icon class="icon">login</mat-icon>
                login
            </button>
        </ng-container>
    </mat-menu>
    </span>
</mat-toolbar>