<mat-toolbar fxLayout="row">
    <span id="logo" fxFlex>
        <img class="logo-img" [routerLink]="['/welcome']" src="/assets/images/Logo-StageWay-Weiss-Bold-kurz.png" alt="Logo Image" width="260" height="88">
    </span>
    <span class="menu-item-buttons">
        <button id="navItem" mat-button fxHide.sm fxHide.xs fxHide.md [routerLink]="['/stages']">
            Stages
        </button>
        <button id="navItem" mat-button fxHide.sm fxHide.xs fxHide.md [routerLink]="['/guide']">
            So funktioniert's
        </button>
        <button id="navItem" mat-button fxHide.sm fxHide.xs fxHide.md [routerLink]="['/coaching']">
            Coaching 
        </button>
        <button id="navItem" class="profileIcon" mat-icon-button fxHide.sm fxHide.xs fxHide.md [matMenuTriggerFor]="menuProfile">
            <img id="closed-lock" class="lock-img" (mouseover)="mouseOverLockClosed()" (mouseleave)="mouseLeaveLockClosed()" src="../../../assets/images/lock_closed.png" alt="Account" *ngIf="!(auth.isAuthenticated$ | async)">
            <img id="open-lock" class="lock-img" (mouseover)="mouseOverLockOpen()" (mouseleave)="mouseLeaveLockOpen()" src="../../../assets/images/lock_open.png" alt="Account" *ngIf="auth.isAuthenticated$ | async">
        </button>
        <mat-menu #menuProfile="matMenu">
            <button mat-menu-item *ngIf="auth.user$ | async as user">Hallo {{user.nickname}}</button>
            <button mat-menu-item (click)="auth.loginWithRedirect()" *ngIf="!(auth.isAuthenticated$ | async)">Einloggen</button>
            <button mat-menu-item (click)="auth.logout()" *ngIf="auth.isAuthenticated$ | async">Ausloggen</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxShow.sm fxShow.xs fxHide fxShow.md>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container>
                <button mat-button fxShow.sm fxShow.xs fxHide fxShow.md [routerLink]="['/stages']">
                    Stages
                </button>
                <mat-divider></mat-divider>
                <button mat-button fxShow.sm fxShow.xs fxHide fxShow.md [routerLink]="['/guide']">
                    So funktioniert's
                </button>
                <mat-divider></mat-divider>
                <button mat-button fxShow.sm fxShow.xs fxHide fxShow.md [routerLink]="['/coaching']">
                    Coaching
                </button>
            </ng-container>
        </mat-menu>
    </span>
</mat-toolbar>