
.container-introduction {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container .card .face {
    position: absolute;
    width: 400px;
    height: 400px;
    margin-right: 5px;
    margin-left: 5px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #111D4A;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    background: #FF6700;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    max-width: 200px;
    margin-right: 25%;
    margin-left: 25%;
}

.container .card .face.face1 .content .image2 img {
    max-width: 200px;
    margin-left: 34%;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    transform: translateY(-280px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #111D4A;
    padding: 5px;
    border: 1px solid #0A7085;
}

.container .card .face.face2 .content a:hover {
    background: #0A7085;
    color: #ffffff;
}
/*__________________________________________________________________________*/
p,
h3,
li {
    color: #111D4A;
}

button {
    background-color: #0A7085;
    color: white;
    font-size: large;
    margin-top: 10px;
}

.read-more-container {
    display: flex;
    min-width: fit-content;
    max-width: fit-content;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 80px;
    background-color: #F3F5F7;
}

.read-more-first {
    flex-direction: column;
    margin-right: 18%;
    margin-left: 18%;
    margin-bottom: 50px;
    text-align: justify;
}

.read-more-second {
    flex-direction: column;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 52px;
    margin-bottom: 50px;
    text-align: justify;
}

.read-more-third {
    flex-direction: column;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 52px;
    margin-bottom: 50px;
    text-align: justify;
    width: 64%;
}

hr {
    width: 32vw;
}

h3 {
    text-align: center;
    margin-top: 0%;
}