<div class="container-introduction">
    <h2>Coaching Angebot</h2>
    <p>Als Teilnehmer*in von StageWay hast du die Möglichkeit, von einem breiten Coaching-Angebot der Stadt Zürich zu profitieren. Dieses Coaching ist modular aufgebaut und wird auf dich und deine Bedürfnisse zugeschnitten. Dein Coach steht dir von der Bewerbungsphase
        bis hin zu deiner potentiellen Festanstellung – auf Wunsch auch danach – mit Rat und Tat zur Seite.</p>
</div>

<div class="container">
    <div (touchstart)="swipeStart($event)" (touchend)="swipeEnd($event,1)" id="card1" class="card fade">
        <div class="face face1">
            <div class="content">
                <img src="/assets/images/coaching_illu_1.png" height="85" width="85">
                <h3>Vor der Stage</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Du bist unsicher, welche Stages für dich in Frage kommen oder du hast konkrete Fragen zu deiner Bewerbung für eine Stage.</p>
                <br/>
                <button mat-raised-button (click)="scrollToElement(readMoreFirst)">Mehr Informationen</button>
                <button mat-raised-button (click)="scrollToElement(readMoreFourth)">Kontakt</button>
            </div>
        </div>
    </div>
    <div (touchstart)="swipeStart($event)" (touchend)="swipeEnd($event,2)" id="card2" class="card fade">
        <div class="face face1">
            <div class="content">
                <div class="image2">
                    <img src="/assets/images/coaching_illu_2.png" height="85" width="85">
                    <h3>Während der Stage</h3>
                </div>    
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Du möchtest mit deinem Coach besprechen, wie es in der Stage läuft und wie es nach diesem Einsatz beruflich bei dir weitergehen soll. Auch für all deine Fragen rund ums Thema Stellensuche hast du einen kompetenten Ansprechpartner.</p>
                <br/>
                <button mat-raised-button (click)="scrollToElement(readMoreSecond)">Mehr Informationen</button>
                <button mat-raised-button (click)="scrollToElement(readMoreFourth)">Kontakt</button>
            </div>
        </div>
    </div>
    <div (touchstart)="swipeStart($event)" (touchend)="swipeEnd($event,3)" id="card3" class="card fade">
        <div class="face face1">
            <div class="content">
                <img src="/assets/images/coaching_illu_3.png" height="85" width="85">
                <h3>Nach der Stage</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Du hast noch keine Festanstellung gefunden oder möchtest auch während der Probezeit von der dir vertrauten Beratungsperson weiter unterstützt werden.</p>
                <br/>
                <button mat-raised-button (click)="scrollToElement(readMoreThird)">Mehr Informationen</button>
                <button mat-raised-button (click)="scrollToElement(readMoreFourth)">Kontakt</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="dots" style="text-align:center">
  <span id="dot1" class="dot" (click)="changeSlide(1)">1</span> 
  <span id="dot2" class="dot" (click)="changeSlide(2)">2</span> 
  <span id="dot3" class="dot" (click)="changeSlide(3)">3</span> 
</div>

<!--________________________________________________________________________________________-->

<div #readMoreFirst class="read-more-container">
    <h3>Vor der Stage</h3>
    <p>In dieser Coaching-Phase können wir folgende Themen mit dir aufgreifen:</p>
    <ul>
        <li>Klärung individuelle Situation, Motivation, Coaching-Ziele</li>
        <li>Erstes Feedback zu CV/Bewerbungsdossier, Potenzial, Marktfähigkeit, Strategien und Suchfeldern</li>
        <li>Potenzialanalyse (Persönlichkeit, Fähigkeiten und Interessen) in Bezug auf Lehrbetrieb/Stage</li>
        <li>Marktanalyse, Kompetenzprofil, Suchfeldstrategie und Bewerbungscheck (Unterlagen)</li>
        <li>Bewerbungsunterstützung (Stage)</li>
        <li>Coaching Auftrittskompetenz / Vorstellungsgespräch</li>
    </ul>
    <p>Im Rahmen deines Coachings werden nicht all die oben aufgeführten Themen behandelt. Der Coach orientiert sich an deinen Anliegen und Bedürfnissen und stellt dein individuelles Coaching-Angebot zusammen.</p>
</div>
<hr>
<div #readMoreSecond class="read-more-container">
    <h3>Während der Stage</h3>
    <p>Das Coaching-Angebot während deiner Stage beinhaltet folgende Module:</p>
    <ul>
        <li>Erarbeitung Entwicklungsschritte und Herausforderungen während der Stage</li>
        <li>Standortbestimmung bei Unternehmen (wenn sinnvoll und gewünscht)</li>
        <li>Erstellung Kompetenzprofil</li>
        <li>Vielfältige Bewerbungsunterstützung in Bezug auf Festanstellung, z.B.</li>
        <ul>
            <li>Suchfeldcoaching / Arbeitsmarktanalyse: verwandte Berufs- und Branchenfelder</li>
            <li>Auftrittskompetenz: Kommunikations- und Netzwerkarbeit</li>
            <li>Verschiedene Bewerbungsformen und Netzwerkstrategien</li>
            <li>Unterstützung Bewerbungsschreiben</li>
            <li>Training Vorstellungsgespräch</li>
            <li>Umgang mit Absagen</li>
        </ul>
        <li>Evaluation Stage</li>
        <li>Vernetzung zu anderen Unterstützungsangeboten</li>
    </ul>
    <p>Im Rahmen deines Coachings werden nicht all die oben aufgeführten Themen behandelt. Der Coach orientiert sich an deinen Anliegen und Bedürfnissen und stellt dein individuelles Coaching-Angebot zusammen.</p>
</div>
<hr>
<div #readMoreThird class="read-more-container">
    <h3>Nach der Stage</h3>
    <p>Nach deiner Stage können wir dich mit folgendem Angebot unterstützen:</p>
    <ul>
        <li>Falls du noch keine Festanstellung gefunden hast:</li>
        <ul>
            <li>Überprüfung Kompetenzprofil und Suchfeldstrategie</li>
            <li>Weiterführung Bewerbungsunterstützung Festanstellung</li>
            <li>Bei Bedarf: Vermittlung in weiterführendes Anschlussangebot</li>
        </ul>
        <li>Wenn du in eine Festanstellung übertrittst: Nachbetreuung während der Probezeit (falls gewünscht)</li>
    </ul>
</div>
<hr>
<div #readMoreFourth class="read-more-container">
    <h3>Kontakt</h3>
    <p>Wende dich für deinen Coaching Termin an <u>044 412 78 88</u> oder schreibe ein  Mail mit deinen Kontaktangaben an <u>jobplus@zuerich.ch</u> und wir melden uns bei dir.</p>
    <!-- <p></p> -->
    <a style="background-color: #0A7085; color: white; margin: 4px;" mat-raised-button href="tel:044 412 78 88">Rufe An</a>
    <a style="background-color: #0A7085; color: white;"  mat-raised-button href="mailto:jobplus@zuerich.ch">E-Mail</a> 
</div>
