#startText {
    margin-left: 60px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 25px;
}

.guide-img {
    margin-top: 10%;
    margin-bottom: 10%;
    fill: red;
    height: auto;
    width: 30vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

.guide-text {
    margin-right: 5vw;
    margin-left: 5vw;
}