<h2>So funktioniert's</h2>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="step-text">
            <h2>1. Finde deinen Stage</h2>
            <p>Den ersten Schritt hast du bereits geschafft - du bist auf der Plattform angekommen! ​ ​ Unter "Stages" kannst du nun verschiedene Stages entdecken und dich nach deiner Wunschstage umschauen.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="step-img" src="/assets/images/guide/guide_img_step1.png" alt="Welcome Image" width="494" height="232">
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="step-img" src="/assets/images/guide/guide_img_step1.png" alt="Welcome Image" width="494" height="232">
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="step-text">
            <h2>2. Betreuung und Unterstützung​</h2>
            <p>Hast du etwas Passendes gefunden? Der Berufseinstieg ist ein grosser Meilenstein, deswegen wollen wir dich gerne dabei unterstützen. Unsere Coaches der Stadt Zürich helfen dir bei allen weiteren Schritten. (Coaching Link) Kontaktiere … für
                ein erstes Gespräch, bevor du weiterfährst.</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>