<div id="startText">
    <h2>So funktioniert's</h2>
</div>
<div class="flex-container">
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>1. Finde deine Stage</h3>
            <p>Den ersten Schritt hast du bereits geschafft - du bist auf der Plattform angekommen! Unter "Stages" kannst du nun verschiedene Stages entdecken und dich nach deiner Wunschstage umschauen.</p>
        </div>
    </div>
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_1.png" height="85" width="85" alt="Guide Image">
    </div>
</div>
<div class="flex-container">
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_2.png" height="85" width="85" alt="Guide Image">
    </div>
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>2. Betreuung und Unterstützung</h3>
            <p>Hast du etwas Passendes gefunden? Der Berufseinstieg ist ein grosser Meilenstein, deswegen wollen wir dich gerne dabei unterstützen. Unsere Coaches der Stadt Zürich helfen dir bei allen weiteren Schritten. Mehr Informationen findest du unter
                diesem <a [routerLink]="['/app-coaching-view']">Link</a>.</p>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>3. Bewirb dich </h3>
            <p>Sind deine Bewerbungsunterlagen komplett? Dann bewirb dich jetzt gemäss Inserat auf den Stage. Du kannst dich gleichzeitig auf mehrere Stages bewerben.</p>
        </div>
    </div>
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_3.png" height="85" width="85" alt="Guide Image">
    </div>
</div>
<div class="flex-container">
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_4.png" height="85" width="85" alt="Guide Image">
    </div>
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>4. Wie weiter</h3>
            <p>Nun brauchst du ein wenig Geduld. Das Unternehmen prüft deine Unterlagen und meldet sich schnellstmöglich bei dir für weitere Schritte. Der Rekrutierungsprozess läuft in jedem Unternehmen unterschiedlich ab.</p>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>5. Feedback</h3>
            <p>Hast du die Stelle bekommen? Glückwunsch, du hast eine spannende Zeit vor dir! Hast du die Stelle nicht bekommen? Schade, aber schau dich doch nochmals nach einer anderen Stage um. Dein Coach von der Stadt Zürich steht dir jederzeit mit Rat
                und Tat zur Seite. </p>
        </div>
    </div>
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_5.png" height="85" width="85" alt="Guide Image">
    </div>
</div>
<div class="flex-container">
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_6.png" height="85" width="85" alt="Guide Image">
    </div>
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>6. Ein- und Austritt</h3>
            <p>Du trittst aus deinem Lehrbetrieb aus und startest deinen Stage in einem neuen Unternehmen. </p>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="flex-field-left">
        <div class="guide-text">
            <h3>7. Nächste Schritte</h3>
            <p>Während deinem Stage und für deine Anschlusslösung danach unterstützt und berät dein Coach dich weiterhin, falls du das wünscht.</p>
        </div>
    </div>
    <div class="flex-field-right">
        <img class="guide-img" src="/assets/images/guide/guide_illu_7.png" height="85" width="85" alt="Guide Image">
    </div>
</div>