#startText {
    margin-left: 60px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin: 0px;
    margin-bottom: 25px;
}

.flex-field-left {
    margin-left: 5%;
    margin-right: 5%;
}

.flex-field-right {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
}

.guide-img {
    margin-top: 10%;
    margin-bottom: 10%;
    fill: red;
}