h2 {
    text-decoration: underline;
    text-decoration-color: #FF6700;
    color: #111D4A;
}

.browse-container {
    margin-top: 70px;
    margin-left: 55px;
}

.button-create-stage {
    background-color: #0A7085;
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 38px;
}

.addStage {
    /* display: none; */
}