/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */

h1 {
    color: #369;
    font-family: 'Share';
    font-size: 250%;
    font-weight: bold;
}

h2,
h3 {
    color: #111D4A;
    font-family: 'Share';
    font-weight: bold;
    font-size: 170%;
}

p {
    font-family: 'Share';
    font-size: 110%;
}

li {
    font-family: 'Share';
    font-size: 110%;
}

body {
    margin: 2em;
    background-color: #ffffff;
    color: #111D4A;
}

body,
input[type="text"],
button {
    color: #333;
    font-family: 'Share';
    font-size: 120%;
}


/* everywhere else */

* {
    font-family: 'Share';
}

html,
body {
    height: 100%;
    font-family: 'Share';
}

body {
    margin: 0;
    font-family: 'Share';
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Share';
}


.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(17, 30, 75);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(17, 30, 75);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(17, 30, 75);
} 

.mat-radio-button.mat-accent {
    margin-bottom: 3px;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #ff6700;
  }
  
  ::selection {
    color: white;
    background: #ff6700;
  }